.notify {
  transition: opacity, transform;
  position: absolute;
  top: 40px;
  right: 20px;
  opacity: 0;
  transform: translate(calc(100% + 20px));
  width: 36.4rem;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 2.4rem 1.6rem 2.6rem;
  --background: var(--main-color);
  background: var(--background);
  box-shadow: 1px 1px 1px 0 var(--background-color);
  &.success {
    --background: var(--main-color);
  }
  &.failed {
    --background: var(--second-color);
  }
  // text style
  .message {
    color: var(--background-color);
  }
  @keyframes animateShow {
    0% {
      opacity: 0;
    }
    5%,
    94% {
      transform: translate(0);
      opacity: 1;
    }
    to {
      transform: translate(calc(100% + 20px));
      opacity: 0.5;
    }
  }
  animation: animateShow 1;
}
