.wrap {
  display: flex;
  align-items: flex-end;
  .avatar {
    width: 6.6rem;
    height: 6.6rem;
    flex-shrink: 0;
    background-color: var(--main-color);
    text-align: center;
    line-height: 6.6rem;
    &::after {
      content: attr(data-name);
      color: var(--background-color);
      font-size: 3.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .name {
    color: var(--content-color);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
